<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>
<body>
    <h1>Welcome to our Online Store</h1>
    <ul class="product-container">
        <% products.forEach(function(product) { %>
            <a href="/" class="product-name"><%= product.name %></a>
        <% }); %>
    </ul>
</body>
</html>
